netpd-name <anon>
netpd-welcome <<<<<<<<<<<<<connected<<<<<<<<<<<<<<<<<
netpd-server netpd.org
netpd-port 3025
netpd-auto-connect 1
netpd-instruments-path ../instruments
netpd-download-ask 1
pd-start-dsp 1
pd-dynamic-dsp-off 1
pd-audio-latency 50
